#MainPanel {
    border: solid black thin;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

@keyframes formAnimation {
    from {background-color: #ffffff;}
    to {background-color: #D3D3D3;}
  }
  
.new_form {
    background-color: #ffffff;
    animation-name: formAnimation;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
